
header, footer {
    display: none;
}
  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 108px;
    height: 108px;
    justify-content: space-between;
    background: none;
    display: contents;
    z-index: 10000; 
    font-size: 24px;
    text-align: center;
    padding: 20px; 
    border-radius: 10px; 
}
  .loader:before {
    content: "Loading";
    color: #000000;
    font-family: 'Poppins';
    font-size: xx-large;
    font-weight: bold;
  }
  .loader:after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ff3d00;
    background-image: radial-gradient(circle 2px, #fff4 100%, transparent 0),
      radial-gradient(circle 1px, #fff3 100%, transparent 0);
    background-position: 14px -4px, 12px -1px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -5px;
    right: 66px;
    transform-origin: center bottom;
    animation: fillBaloon 1s ease-in-out infinite alternate;
  }

  @keyframes fillBaloon {
    0% { transform: scale(1)}
    100% { transform: scale(3)}
  }