        
        /* Loader Styles */
        #loader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(26, 27, 27);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            background-size: cover;
        }
        
        .loader-image {
            width: 450px;
            height: 450px;
        }
        body::-webkit-scrollbar{
            display: none;
           
        }
        html{
            scrollbar-width: none;
        }
