        
        /* Loader Styles */
        #loader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(0, 0, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            background-size: cover;
        }


  
        @keyframes ldio-mxou2sfenq9 {
          0% { transform: rotate(0) }
          100% { transform: rotate(360deg) }
        }
        .ldio-mxou2sfenq9 div { box-sizing: border-box!important }
        .ldio-mxou2sfenq9 > div {
          position: absolute;
          width: 150.88px;
          height: 150.88px;
          top: 6.56px;
          left: 6.56px;
          border-radius: 50%;
          border: 9.84px solid #000;
          border-color: #6900ff transparent #6900ff transparent;
          animation: ldio-mxou2sfenq9 1s linear infinite;
        }
        
        .ldio-mxou2sfenq9 > div:nth-child(2), .ldio-mxou2sfenq9 > div:nth-child(4) {
          width: 127.91999999999999px;
          height: 127.91999999999999px;
          top: 18.04px;
          left: 18.04px;
          animation: ldio-mxou2sfenq9 1s linear infinite reverse;
        }
        .ldio-mxou2sfenq9 > div:nth-child(2) {
          border-color: transparent #a0e200 transparent #a0e200
        }
        .ldio-mxou2sfenq9 > div:nth-child(3) { border-color: transparent }
        .ldio-mxou2sfenq9 > div:nth-child(3) div {
          position: absolute;
          width: 100%;
          height: 100%;
          transform: rotate(45deg);
        }
        .ldio-mxou2sfenq9 > div:nth-child(3) div:before, .ldio-mxou2sfenq9 > div:nth-child(3) div:after { 
          content: "";
          display: block;
          position: absolute;
          width: 9.84px;
          height: 9.84px;
          top: -9.84px;
          left: 60.68px;
          background: #6900ff;
          border-radius: 50%;
          box-shadow: 0 141.04px 0 0 #6900ff;
        }
        .ldio-mxou2sfenq9 > div:nth-child(3) div:after {
          left: -9.84px;
          top: 60.68px;
          box-shadow: 141.04px 0 0 0 #6900ff;
        }
        
        .ldio-mxou2sfenq9 > div:nth-child(4) { border-color: transparent; }
        .ldio-mxou2sfenq9 > div:nth-child(4) div {
          position: absolute;
          width: 100%;
          height: 100%;
          transform: rotate(45deg);
        }
        .ldio-mxou2sfenq9 > div:nth-child(4) div:before, .ldio-mxou2sfenq9 > div:nth-child(4) div:after {
          content: "";
          display: block;
          position: absolute;
          width: 9.84px;
          height: 9.84px;
          top: -9.84px;
          left: 49.199999999999996px;
          background: #a0e200;
          border-radius: 50%;
          box-shadow: 0 118.08px 0 0 #a0e200;
        }
        .ldio-mxou2sfenq9 > div:nth-child(4) div:after {
          left: -9.84px;
          top: 49.199999999999996px;
          box-shadow: 118.08px 0 0 0 #a0e200;
        }
        .loadingio-spinner-double-ring-1pmaeqkiz81 {
          width: 164px;
          height: 164px;
          display: inline-block;
          overflow: hidden;
          background: none;
        }
        .ldio-mxou2sfenq9 {
          width: 100%;
          height: 100%;
          position: relative;
          transform: translateZ(0) scale(1);
          backface-visibility: hidden;
          transform-origin: 0 0; /* see note above */
        }
        .ldio-mxou2sfenq9 div { box-sizing: content-box; }
        /* generated by https://loading.io/ */
        



        body::-webkit-scrollbar{
            display: none;
           
        }
        html{
            scrollbar-width: none;
        }
        body{
            -ms-overflow-style: none;
        }
               
