@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.projects-section {
    padding: 40px 20px;
    text-align: center;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.project-card h2 {
    font-size: 20px;
    margin-top: 10px;
    color: greenyellow; /* Change project title color */
}

.project-logo {
    width: 100px;
    height: 100px;
    background-color: #f5f5f5;
    margin: 0 auto 10px;
    border-radius: 50%;
    border: 2px solid black; /* Add border color */
}

.project-description {
    font-size: 14px;
    color: #575757;
}

.dark-theme .project-description {
    color: #fff; /* Change project description color in dark mode */
}

.project-card .download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.project-card .download-button:hover {
    background-color: #45a049;
}

.navigation-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
    outline: none;
}

.navigation-button:hover {
    background-color: #45a049;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #333;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    font-size: large;
    color: #f5f5f5;
    cursor: pointer;
}

nav a:hover {
    color: greenyellow;
}

.theme-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.theme-icon:before {
    content: "☀";
    font-size: 14px;
    transition: transform 0.3s, color 0.3s;
}

.theme-icon.dark:before {
    content: "🌙";
}

.vade {
    color: #575757;
}

.title {
    font-size: x-large;
    font-weight: bold;
    color: greenyellow;
    margin: 0;
    padding: 0;
}


.title span {
    color: white; /* Change MY PROJECTS header color to white */
  }
  .arrow {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s;
    user-select: none;
}

.arrow:hover {
    transform: scale(1.1);
}

/* Responsive Styles */

@media screen and (max-width: 767px) {
    .project-card {
        max-width: 100%;
    }
}
