@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins','Courier New', Courier, monospace;
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
} 
  
  
  .projects-section {
    padding: 40px 20px;
    text-align: center;
  }
  
  .project-card {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: #896af8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .project-card h2 {
    font-size: 20px;
    margin-top: 0;
  }
  
  .project-card p {
    margin-top: 10px;
  }
  
  .project-card .download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .project-card .download-button:hover {
    background-color: #45a049;
  }
  
  @media screen and (min-width: 768px) {
    .projects-section {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .project-card {
      width: 300px;
    }
 
}
  
  @media screen and (max-width: 767px) {
    .background{
      height: 100%;
    }
  }
  
















  
  .dark-theme {
    background-color: #333;
    color: #fff;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #333;
    padding: 0 20px;
  }
  nav a{
    text-decoration: none;
    font-size: large;
    font-family: 'Poppins',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f5f5f5;
    cursor: pointer;
   }
   nav a:hover{
     color: greenyellow;
   }
  
  .theme-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .theme-icon:before {
    content: "☀";
    font-size: 14px;
    transition: transform 0.3s, color 0.3s;
  }
  
  .theme-icon.dark:before {
    content: "🌙";
  }
  
  .title {
    font-size: x-large;
    font-weight: bold;
    color: greenyellow;
    margin: 0;
    padding: 0;
    font-family: 'Poppins','Courier New', Courier, monospace;
  }
