@media only screen and (max-width:1160px){
    .logo{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 100%;
        border: 3px solid rgb(8, 8, 8);
        border-radius: 100%;
        margin: 5px;
    }
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.9s ease-out;
        height:916px;        
    }
    .right-nav{
       text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
          }
    #search{
        width:120%;
        display: none;
        
    }
    .btn-sm{
        display: none;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 46px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section-left{
        flex-direction: column-reverse;
        background-color: black;
        max-width: 117%;
    }
    .section{
        flex-direction: column-reverse;
        background-color: black;
        max-width: 117%;

    }
    .firstsection{
        height: 59vh;
       
    }
    .firsthalf{
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .secondhalf{
       width: 30%;
    }
    
    .secondhalf img{
        padding-left: 0%;
        width: 115px;
        height:130px;
        display: block;
        margin: auto;
    
    }
    
    .text-small{
        text-align: center;
        font-size: 16px;
        color: rgb(255, 255, 255);
    }
    .text-big{
        text-align: center;
        font-size: 42px;
        color: rgb(253, 253, 253);
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0 1px;
    }
       
    .text-footer{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        font-size: large;
        color: grey;
        cursor: pointer;
    }
    
    
}
