<footer class="footer hovering-footer">
  <div class="footer-content">
    <ul class="social-links">
      <li>
        <a href="https://github.com/ryuzinoh" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/safal-lama-379738330/"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/yoyuehappy" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/happillli_/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/myExistenceIsMythToMyOwnPast/"
          target="_blank"
          ><i class="fab fa-facebook"></i
        ></a>
      </li>
      <li>
        <a href="mailto:whysafalisop@gmail.com"
          ><i class="fas fa-envelope"></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom"></div>
</footer>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
