body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.skills-timeline {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-item {
  background: linear-gradient(to right, white 70%, #000000);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin: 10px;
  flex: 1 1 calc(45% - 20px);
  min-width: 250px;
  padding: 20px;
  padding-right: 40px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.skills-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: #000000;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: -1;
}

.skills-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
}

.skills-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

.skills-list li {
  font-size: 1em;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.skills-list li img,
.skills-list li i {
  margin-right: 10px;
  vertical-align: middle;
}

.skills-list li i {
  color: #000;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .skills-timeline {
    flex-direction: column;
    align-items: center;
  }

  .skills-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .skills-item h2 {
    font-size: 1.2em;
  }

  .skills-list li {
    font-size: 0.9em;
  }
}
