:root {
  --gap: 30px;
  --primary-color: #ffa500;
  --hover-color: #ff8c00;
  --text-color: #333;
  --subtext-color: #666;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

.timeline {
  position: relative;
  margin: 20px 0;
  padding-left: 20px;
}

.moving-dot {
  position: absolute;
  left: -8px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.timeline-item {
  position: relative;
  border-left: 3px solid var(--primary-color);
  padding-left: 25px;
  margin: 40px 0;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-item h2 {
  margin-top: 0;
  font-size: 1.75em;
  color: var(--text-color);
  font-weight: bold;
}

.timeline-item p {
  font-size: 1.1em;
  color: var(--subtext-color);
  margin-top: 10px;
}

.project-image {
  max-width: 100%;
  height: auto;
  margin: 15px 0;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project-link {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1em;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.project-link:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

.favicon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.timeline-item:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

#home h1 {
  font-size: 3em;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  margin-top: 50px;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 2.5em;
  }

  .timeline-item {
    margin: 20px 0;
    padding: 15px;
  }

  .project-image {
    width: 60%;
  }

  .timeline-item h2 {
    font-size: 1.5em;
  }

  .timeline-item p {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .timeline-item h2 {
    font-size: 1.2em;
  }

  .project-link {
    font-size: 1em;
  }
}
