html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  z-index: 1000;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 30px;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: #ffa500;
}

main {
  flex: 1;
  padding-top: 60px;
}

section {
  padding: 80px 20px;
  margin: 40px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.typed-container {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.circular-image {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 5px solid #ffa500;
  object-fit: cover;
  margin-top: 20px;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  margin-bottom: 10px;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin: 0 15px;
}

.social-links a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ffa500;
}

.footer-bottom {
  font-size: 14px;
}

@keyframes jiggle {
  /* Define jiggle animation */
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    transform: translate(2px, -2px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.jiggle {
  animation: jiggle 0.5s;
}

